<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styling.css">
    <link rel="stylesheet" href="styling.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Medical App</title>
    
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
</style>
<body>
    
    <header>
    <nav id="navbar">
        <div id="Logo">
            <img src="Logo.jfif" alt="Logo">
            <h1 id="h-primary" style="font-size: 1.5em;">वैद्य</h1>
            <p style="font-size: 1.5em;">-</p>
            <h1 id="h-secondary" style="font-size: 1.5em;">Ji</h1>
        </div>
        <ul>
           <li class="Home"><a href="#"><i class="fa fa-home"></i> Home</a></li> 
            <li class="Download App"><a href="#"><i class="fa fa-mobile-phone" style="font-size: 23px;"></i>  Download App</a></li>
            <li class="Log in"><a href="login"><i class="fa fa-user"></i> Log out</a></li>
            <li class="Cart"><a href="#"><i class="fa fa-shopping-cart"></i> Cart</a></li>
        </ul>
    </nav>
    </header>
    <section id="home">
        <h1 class="Main"> What Are You Looking For? </h1>
        <section id="Search">
            <i class="fa fa-search" style="font-size: 25px"></i><input type="text" name="search" id="search" placeholder="Search For Medicines, Essentials, Etc.">
            <button id="srch-btn">Search</button>
        </section>  
    </section>
    <nav id="navbar2">
        <ul>
           <section id="sym-btn"><li class="symptoms"><a href="#"><img src="symptoms2.png" alt="Symptoms Logo" id="symtom">Symptoms</a></li></section>
           <section id="med-btn"><li class="Medicines"><a href="#"><img src="medicines2.png" alt="Medicines Logo" id="Medicine">Medicines</a></li></section>
           <section id="exer-btn"><li class="Exercises"><a href="#"><img src="exercises.png" alt="Exercises Logo" id="Exercise">Exercises</a></li></section>
           <section id="ayur-btn"><li class="Ayurveds"><a href="#"><img src="ayurveda.png" alt="Ayurvedic Medicines Logo" id="Ayurvedic">Ayurvedic Medicines</a></li></section>
           <section id="essen-btn"><li class="Healthy"><a href="#"><img src="health products.webp" alt="health Essentials Logo" id="Essentials">Health Essentials</a></li></section>
           <section id="cpn-btn"><li class="cpn"><a href="#"><img src="coupon.png" alt="Symptoms Logo" id="coupon">Extras</a></li></section>
        </ul>
    </nav>
    <div id="para">
        <div id="headtag">
     <section>
        <h1 class="headline">Meet वैद्य-ji</h1>
        <span class="tagline">The Newly Launched- Your Personal Online Hospital To Take Care Of You Everytime</span>
        <section class="btn-extras">
            <a href="#" ><button class="btn-chat">Chat With Us</button></a>
            <a href="#" ><button class="btn-know">Know More</button></a>
        </section>
    </section>
    </div>
        <img src="hospital main2.gif" alt="Hospital gif" id="Hosgif">
    </div>
    <nav id="colornav">
    <div id="impline">
        <h1 class="headline2">Leading Light In Healthcare</h1>
    <span class="tagline2">We at <span class="mainname">वैद्य</span> - <span class="mainname2">Ji</span> which is a very specialized online healthcare platform 
                offer the entire hospital services on one page which is going to help numerous patients 
                by providing them services including calculation of disease according to symptoms and
                prescribing the Medicines accordingly with an option of Allopathy and Ayurvedic.  
    </span>
    </div>
    </nav>
    <div id="para2">
        <div>
            <img src="https://www.emedhealthtech.com/wp-content/uploads/2021/07/Healthcare-App_lead-company-578x578.png" alt="Hospital img" id="Hosgif2">
        </div>
        <div>
            <img src="gray line.png" alt="gray line" id="gray">
            <h1 class="headline3">Hospital Mobile Applications And Websites</h1>
            <span class="tagline3">
                Hospital mobile applications and websites are used to optimize care 
                delivery and access, enhance internal hospital processes,increase 
                patient satisfaction and improve outcomes. 
                वैद्य-ji leverages its 2-year expertise in healthcare IT
                to offer hospital websites and apps for consultation,
                treatment, and medical services. 
                 </span>
        </div>
    </div>
    <div id="para3">
        <div>
        <h1 class="headline4">Medical Reference And Quality Database</h1>
            <span class="tagline4">
                Medical Reference & Quality Database bundles together numerous useful
                healthcare resources in one convenient website. You can get every clinical
                support and health advises you need to live a long healthy life, save time 
                for useful information about diseases, medicines and exercises instead of 
                going for on-ground clinic.
            </span>
            <ul>
                <li>Super Handy Information About Diseases, Medicines(Allopathy and Ayurvedic), Reference Articles </li>
                <li>Buy any medicine on one click</li>
                <li>Effective exercises for pain treatment</li>
                <li>Health essentials products also available</li>
                <li>Your very own pharmacy and hospital altogether</li>
            </ul>
        </div>
        <div>
            <img src="doctor merge.png" alt="doctor img" id="doctor">
        </div>
    </div>
    <div id="para4">
        <h1 class="keyfeat">Key Features Of वैद्य Ji</h1>
        <ul id="row1">
            <li class="regist"> Patient Registration</li>
            <li class="discal"><img src="infectious.png" alt="disease" id="disease"> Disease calculation</li>
            <li class="meddel"><img src="syringe.png" alt="med" id="medicinedel"> Medicine Delivery</li>
        </ul>
        <ul id="row2">
            <li class="ayur"><img src="ayurveda2.png" alt="ayurvedapic" id="ayurangle"> Ayurvedic Angle</li>
            <li class="exertherapy"><img src="exercise.png" alt="Exercisepic" id="exerther"> Exercise Therapy</li>
            <li class="port"><img src="portal.png" alt="Portalpic" id="Patportal"> Patient Portal</li>
        </ul>
        <ul id="row3">
            <li class="ambu"><img src="ambulance.png" alt="ambulancepic" id="ambulance"> One-Click Ambulance</li>
            <li class="Pill"><img src="pills.png" alt="pillpic" id="pillreminder"> Pill Reminder</li>
            <li class="nearby"><img src="hospitalicon.png" alt="hospitalpic" id="nearhospital"> Nearby Hospital</li>
        </ul>
        <ul id="row4">
            <li class="pres"><img src="prescription.png" alt="prescriptionpic" id="prescription"> Presciption Slip</li>
            <li class="nutri"><img src="diet.png" alt="nutritionpic" id="nutrition"> Nutritional Help</li>
            <li class="pay"><img src="payment.png" alt="walletpic" id="payment"> Payment Gateway</li>
        </ul>
    </div>
    <div class="registration">
    <form action="/Register" id="familyhospital" method="get">
        <button class="btn-register" type="submit">
            Register For Access To your Family Hospital
        </button>
    </form>
    </div>
    <div id="para2">
        <div>
            <img src="tab.png" alt="tab img" id="tablet">
        </div>
        <div>
            <h1 class="headline5">High Performance Website Designed To Provide Hospital Like Services At Home</h1>
            <span class="tagline5">
                Patients can have on-the-go access to their e-hospital with ease with
                one login. Boost patient engagement with communication management, 
                streamline workflows and pure transparency in processes.
            </span>
        <div id="lastlist">
            <ul class="lastlist1">
                <li> 360° Solution</li>
                <li> Tested And Proven</li>
                <li> Fruitful Recommendations</li>
            </ul>
            <ul class="lastlist2">
                <li>Ease Of Use</li>
                <li>Cost Effective</li>
                <li>Mini Hospital</li>
            </ul>
        </div>
        </div>
    </div>
    <div class="satisfy">
        <h1> Feedback Corner <img src="emoji.jpg" alt="emoji" class="emoji"> </h1>
    </div>
    <div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <h2>Dr. Anita Sharma </h2>
            <span class="date"> August 15,2022</span>
            <div class="comment1">
            <img src="comment.png" alt="comment icon" id="cmnt">
            <span class="cmnt1">The website is really wonderful. Being a constant user myself, 
                                I would say that the User experience (UI/UX) of the website is top 
                                notch (easy to use, simple and convenient). Coming to services 
                                and delivery, I would say वैद्य ji is doing a tremendous job 
                                even during this unprecedented pandemic situation.</span>
            </div>
        </div>
        <div class="swiper-slide">
            <h2>Sakshi Bhardwaj </h2>
            <span class="date"> August 23,2022</span>
            <div class="comment1">
            <img src="comment.png" alt="comment icon" id="cmnt">
            <span class="cmnt1">
                Best service and website amongst all available.
                I have been using it for few months now,
                and even during the pandemic, they have kept
                their standards high and are delivering 
                the order within 24 hours. Keep up the good 
                work.
            </span>
            </div>
        </div>
        <div class="swiper-slide">
            <h2>Ashok Kumar </h2>
            <span class="date"> August 29,2022</span>
            <div class="comment1">
            <img src="comment.png" alt="comment icon" id="cmnt">
            <span class="cmnt1">
                This website is a game changer for me. I am unable
                to go out always to buy medicinal products. 
                वैद्य ji gives me the last liberty to shop 
                essential healthcare products from home. The
                app is very user friendly and me being an 
                elderly person do not find any difficulty in
                using it. They deliver well in time. Thanks😊
            </span>
            </div>
        </div>
        <div class="swiper-slide">
            <h2>Saket Sharma </h2>
            <span class="date"> Sept 2,2022</span>
            <div class="comment1">
            <img src="comment.png" alt="comment icon" id="cmnt">
            <span class="cmnt1">
                Plus point to this website is its simplicity and ease of use
                interface which let me find health disease of me and my family
                with its special Symptom-Checker feature and also to find the 
                medicine accordingly which saves a lot of time by not standing
                in the long queue of hospital. Also the recommendations are 
                very genuine from the renounced doctors of india.
            </span>
            </div>
        </div>
        <div class="swiper-slide">
            <h2>Jashan Jindal </h2>
            <span class="date"> Sept 3,2022</span>
            <div class="comment1">
            <img src="comment.png" alt="comment icon" id="cmnt">
            <span class="cmnt1">
                The fact that this website is a mini hospital performs 
                literal characterstics of what on-ground hospital performs
                carrying a lot of healthcare features like ambulance on 
                one-click and pill reminder etc. I've had a good experience 
                using वैद्य ji. Very friendly app in terms of usability.
            </span>
            </div>
        </div>
        <div class="swiper-slide">
            <h2>Shivam Jain </h2>
            <span class="date"> Sept 3,2022</span>
            <div class="comment1">
            <img src="comment.png" alt="comment icon" id="cmnt">
            <span class="cmnt1">
                Ayurvedic Angle is the centre of attraction of 
                this website. Nowadays where people are moving 
                towards Allopathic Medicines to get the results
                as soon as possible without knowing the side-effects.
                Whereas on the other hand ayurveda might take a
                long term in treatment but the results are very
                fruitful without a single side-effect.
            </span>
            </div>
        </div>
        <div class="swiper-slide">
            <h2>Parth Shukla Hoshiapuria </h2>
            <span class="date"> Sept 4,2022</span>
            <div class="comment1">
            <img src="comment.png" alt="comment icon" id="cmnt">
            <span class="cmnt1">
                Tremendous website with full patient support and
                money saving from the point of medical necessity
                of every person. Thanks team. Great job. The
                application is also very smooth.
            </span>
            </div>
        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    </div>
    
    <!--Footer Section-->
    <div class="everything">
    
    <div class="foot">
        <div class="footer">
            <div class="namelast">
                <h1> वैद्य ji </h1>
            </div>
            <div class="paralast">
                <h3>
                वैद्य ji is a seamless ecosystem 
                that intelligently drives your 
                healthcare  operations.  Our
                evolving intelligent Healthcare 
                Service  Experience ( iHSE )  
                is the most advanced and integr 
                ated end-to-end platform  in   
                the healthcare industry. As  an 
                integrated and efficient health 
                care ecosystem, we are expanding 
                wings  to the Middle East, spreading 
                our and revolutionizing the health
                care  system.
                </h3>
            </div>
        
        </div>
    
            <div class="footer2">
                <div class="namelast2">
                <h2>Featured Categories</h2>
                </div>
                <div class="paralast2">
                    <a href="#" style="text-decoration: none;"><span>Allopathic Medicines</span></a>
                    <a href="#" style="text-decoration: none;"><span>Ayurvedic Medicines</span></a>
                    <a href="#" style="text-decoration: none;"><span>Personal Care</span></a>
                    <a href="#" style="text-decoration: none;"><span>Health Food And Drinks</span></a>
                    <a href="#" style="text-decoration: none;"><span>Beauty</span></a>
                    <a href="#" style="text-decoration: none;"><span>Skin Care</span></a>
                    <a href="#" style="text-decoration: none;"><span>Fitness Supplement</span></a>
                    <a href="#" style="text-decoration: none;"><span>Mother And Baby Care</span></a>
                    <a href="#" style="text-decoration: none;"><span>Allopathic Medicines</span></a>
                    <a href="#" style="text-decoration: none;"><span>Healthcare Devices</span></a>
                    <a href="#" style="text-decoration: none;"><span>Diabetic Care</span></a>
                    <a href="#" style="text-decoration: none;"><span>Elderly Care</span></a>
                </div>
            </div>
    
            <div class="footer3">
                <div class="namelast3">
                <h2>Policy Info</h2>
                </div>
                <div class="paralast3">
                    <a href="#" style="text-decoration: none;"><span>Privacy Policy</span></a>
                    <a href="#" style="text-decoration: none;"><span>Editorial Policy</span></a>
                    <a href="#" style="text-decoration: none;"><span>Terms And Conditions</span></a>
                    <a href="#" style="text-decoration: none;"><span>Customer Support Policy</span></a>
                    <a href="#" style="text-decoration: none;"><span>Return Policy</span></a>
                    <a href="#" style="text-decoration: none;"><span>Vulnerability Disclosure Policy</span></a>
                    <a href="#" style="text-decoration: none;"><span>FAQs</span></a>
                </div>
            </div>
    
            <div class="footer4">
                <div class="namelast4">
                <h2>Follow Us On</h2>
                </div>
                <div class="paralast4">
                    <a href="#" class="fa fa-facebook" style="font-size: 30px; text-decoration: none; display: flex; line-height: 2.8rem;"></a>
                    <a href="#" class="fa fa-instagram" style="font-size: 30px; text-decoration: none; display: flex; line-height: 2.8rem;"></a>
                    <a href="#" class="fa fa-linkedin" style="font-size: 30px; text-decoration: none; display: flex; line-height: 2.8rem;"></a>
                    <a href="#" class="fa fa-whatsapp" style="font-size: 30px; text-decoration: none; display: flex; line-height: 2.8rem;"></a>
                </div>
            </div>
    </div>
    <div class="adressing">
    <div class="paypart">
        <h2 class="payment">
            Our Payment Partners
        </h2>
        <div class="paymentlogo">
            <img src="https://assets.pharmeasy.in/apothecary/images/gpay.png?dim=1440x0" alt="g-pay" class="gpay">
            <img src="https://assets.pharmeasy.in/apothecary/images/paytm.png?dim=1440x0" alt="paytm" class="paytm">
            <img src="https://assets.pharmeasy.in/apothecary/images/phonepe.png?dim=1440x0" alt="phonepe" class="phonepe">
            <img src="https://assets.pharmeasy.in/apothecary/images/mastercard.png?dim=1440x0" alt="mastercard" class="mastercard">
            <img src="https://assets.pharmeasy.in/apothecary/images/visa.png?dim=1440x0" alt="visa" class="visa">
            <img src="https://assets.pharmeasy.in/apothecary/images/rupay.png?dim=1440x0" alt="rupay" class="rupay">
        </div>
    </div>
    
    <div class="address">
        <h2 class="office">
            Office Address
        </h2>
        <div class="officeandemail">
            <span class="home">
                474/18 Shiv Colony <br>
                Safidon Road Jind <br>
                Haryana-126102 <br>
            </span>
            <span>
                +++++++++++++++++++++++++++++++++++++++++++++ <br>
            </span>
            <span class="contact">
                9306009648 <br>
            </span>
            <span>
                +++++++++++++++++++++++++++++++++++++++++++++ <br>
            </span>
            <span class="email">
                kalpitbhardwaj1515@gmail.com
            </span>
        </div>
    </div>
    </div>
    <hr style="height: 0px; width: 1300px;" >
    <h3 class="copyright">
        Copyright&#9426 2022 वैद्य ji. All Rights Reserved | Powered By वैद्य ji
    </h3>
    </div>
    <!--Javascript-->
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 15,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
</body>
</html>