<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Medical App</title>
</head>


<body>
    <div class="body2">
    <header>
    <div class="login-logo">
        <img src="Logo.jfif" alt="Logo">
    </div>
    </header>
    <header>
        
        <h2 class="loggo">वैद्य-Ji</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <div class="wrapper2">

        <span class="close">
            <i class="fa fa-close" style="font-size:24px"></i>
        </span>

        <div class="form-box login">
            <h2>Registration</h2>
            <form action="/Register" method="post">
                <div class="input-box">
                    <span class="icon">
                    <i class="fa fa-user" aria-hidden="true" style="font-size:24px"></i></span>
                    <input type="text" name="name" value="" required>
                    <label>Name</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                   <i class="fa fa-child" aria-hidden="true" style="font-size:24px"></i></span>
                    <input type="number" name="age" value="" required>
                    <label>Age</label>
                </div>
                <div class="input-box-alag">
                    <span class="icon">
                    <i class="fa fa-venus-mars" aria-hidden="true" style="font-size: 24px"></i></span>
                    <div class="genderlabel"><label>Gender</label></div>
                    <div class="genderinput">
                    <input type="radio" name="gender" value="Male" checked>
                    <label>Male</label>
                    <input type="radio" name="gender" value="Female" checked>
                    <label>Female</label>
                    <input type="radio" name="gender" value="Others" checked>
                    <label>Others</label>
                    </div>
                </div>
                <div class="input-box">
                    <span class="icon">
                    <i class="fa fa-phone" aria-hidden="true" style="font: size 24px"></i></span>
                    <input type="number" name="phone" value="" required>
                    <label>Phone Number</label>
                </div>
                <div class="input-box-alag">
                    <span class="icon">
                    <i class="fa fa-tint" aria-hidden="true" style="font-size: 24px"></i></span>
                    <div class="genderlabel"><label>Blodd Group</label></div>
                    <div class="genderinput">
                    <input type="radio" name="Blood" value="A+" checked>
                    <label>A+</label>
                    <input type="radio" name="Blood" value="A-" checked>
                    <label>A-</label>
                    <input type="radio" name="Blood" value="B+" checked>
                    <label>B+</label>
                    <input type="radio" name="Blood" value="B-" checked>
                    <label>B-</label>
                    <input type="radio" name="Blood" value="O+" checked>
                    <label>O+</label>
                    <input type="radio" name="Blood" value="O-" checked>
                    <label>O-</label>
                    <input type="radio" name="Blood" value="AB+" checked>
                    <label>AB+</label>
                    <input type="radio" name="Blood" value="AB-" checked>
                    <label>AB-</label>
                    </div>
                </div>
                <div class="input-box">
                    <span class="icon">
                    <i class="fa fa-envelope" style="font-size:20px"></i></span>
                    <input type="email" name="email" value="" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                    <i class="fa fa-lock" style="font-size:24px"></i></span>
                    <input type="password" name="password" value="" required>
                    <label>Password</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                    <i class="fa fa-key" aria-hidden="true" style="font-size:24px"></i></span>
                    <input type="password" name="confirmpassword" value="" required>
                    <label>Confirm Password</label>
                </div>
                
                
                <button type="submit" class="btn">Register Now</button>
                <div class="register2">
                    <p>
                        <br>
                        <br>
                        <i class="fa fa-google" aria-hidden="true" style="font-size: 20px;"></i>  Sign Up Through  <a href="#" class="Registeration">  Google  </a>
                        <br>
                        <br>
                        <i class="fa fa-facebook" aria-hidden="true" style="font-size: 20px;"></i>  Sign Up Through  <a href="#" class="Registeration">  Facebook  </a>
                        <br>
                        <br>
                        <i class="fa fa-twitter" aria-hidden="true" style="font-size: 20px;"></i>  Sign Up Through  <a href="#" class="Registeration">  Twitter  </a>
                        <br>
                        <br>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>


</html>